<div id="app">
  <div class="nav">
    <h1 class="title">创建应用</h1>
    <span class="ml8">通过模板创建新的应用</span>
  </div>
  <div class="config">
    <vscode-text-field class="config-item" @change="setConfigItem('dirName',event)"
      :value="configItems['dirName']">
      <span class="red-star">*&nbsp;</span>应用名称(目录名称)
    </vscode-text-field>
    <vscode-text-field class="config-item" :value="configItems.path" @click="setInitPath()">
      <span class="red-star">*&nbsp;</span>初始化路径
      <span slot="end" class="codicon codicon-file-submodule"></span>
    </vscode-text-field>
    <div v-for="(param, name) in currentAppParams">
      <vscode-text-field class="config-item" v-if="!param.enum" @change="setConfigItem(name, event)"
        :value="param.default">
        <span class="red-star" v-if="isRequire(name)">*&nbsp;</span>{{ param.title }}
      </vscode-text-field>
      <div class="config-item" v-else>
        <p style="margin: 0;">
          <span class="red-star" v-if="isRequire(name)">*&nbsp;</span>{{ param.title }}
        </p>
        <vscode-dropdown @change="setConfigItem(name, event)">
          <template v-for="item in param.enum">
            <vscode-option v-if="item === param.default" selected>{{ item }}</vscode-option>
            <vscode-option v-else>{{ item }}</vscode-option>
          </template>
        </vscode-dropdown>
      </div>
    </div>
  </div>
  <div class="init-buttons">
    <vscode-button @click="initApplication()">创建</vscode-button>
  </div>
</div>