.nav {
  display: flex;
  align-items: center;
}

.red-star {
  color: rgb(255, 0, 0);
}

.config {
  width: 400px;
  margin: 120px auto 0;
}

.config .config-item,
.config .config-item vscode-dropdown {
  width: 250px;
  margin-bottom: 15px;
}

.init-buttons {
  position: fixed;
  right: 50px;
  bottom: 100px;
}

.init-buttons vscode-button {
  margin-right: 10px;
}