<div id="app">
  <div class="flex" v-if="!isEditTitle">
    <h1>{{title}}({{this.$config.itemData.sfilename}})</h1>
    <vscode-button
      v-if="showEditBtn"
      @click="isEditTitle=true"
      appearance="icon"
      class="ml8"
      ><span class="codicon codicon-edit"></span
    ></vscode-button>
  </div>
  <vscode-data-grid
    v-if="isEditTitle"
    class="mt16"
    aria-label="Basic"
    grid-template-columns="45%"
  >
    <vscode-data-grid-row>
      <vscode-data-grid-cell grid-column="1" class="flex jcc p0">
        <vscode-text-field
          style="flex: 1"
          :value="titleInEditing"
          @change="e=>titleInEditing=e.target.value"
        >
        </vscode-text-field>
        <vscode-button
          v-if="showEditBtn"
          @click="handleConfirmTitle"
          appearance="icon"
          class="ml8"
          ><span class="codicon codicon-check"></span
        ></vscode-button>
        <vscode-button
          v-if="showEditBtn"
          @click="handleCancelTitle"
          appearance="icon"
          class="ml8"
          ><span class="codicon codicon-error"></span
        ></vscode-button>
      </vscode-data-grid-cell>
    </vscode-data-grid-row>
  </vscode-data-grid>

  <div class="flex">
    <h1>快捷方式操作</h1>
    <span class="ml8">针对左侧的快捷方式进行自定义配置</span>
  </div>
  <vscode-data-grid aria-label="Basic" grid-template-columns="15% 30% 55%">
    <vscode-divider></vscode-divider>
    <vscode-data-grid-row row-type="header">
      <vscode-data-grid-cell
        align="center"
        cell-type="columnheader"
        grid-column="1"
        >快捷按钮</vscode-data-grid-cell
      >
      <vscode-data-grid-cell
        align="center"
        cell-type="columnheader"
        grid-column="2"
        >行为配置</vscode-data-grid-cell
      >
      <vscode-data-grid-cell
        align="center"
        cell-type="columnheader"
        grid-column="3"
        >参数配置</vscode-data-grid-cell
      >
    </vscode-data-grid-row>
    <vscode-divider></vscode-divider>
    <template v-for="item in shortcuts">
      <vscode-data-grid-row>
        <vscode-data-grid-cell grid-column="1" class="flex jcc">
          <span :class="'codicon codicon-'+item.icon"></span>
        </vscode-data-grid-cell>
        <vscode-data-grid-cell grid-column="2" class="flex jcc">
          {{item.command}}
        </vscode-data-grid-cell>
        <vscode-data-grid-cell grid-column="3" class="flex jcc">
          <vscode-text-field
            style="width: 100%"
            :value="item.args"
            @change="e=>handleShortcutsArgs(e, item)"
          >
          </vscode-text-field>
        </vscode-data-grid-cell>
      </vscode-data-grid-row>
      <vscode-divider></vscode-divider>
    </template>
  </vscode-data-grid>
  <div></div>
  <div class="flex">
    <h1>快速操作</h1>
    <span class="ml8">快速执行自定义指令</span>
  </div>
  <vscode-data-grid aria-label="Basic" grid-template-columns="15% 30% 40% 15%">
    <vscode-divider></vscode-divider>
    <vscode-data-grid-row row-type="header">
      <vscode-data-grid-cell
        align="center"
        cell-type="columnheader"
        grid-column="1"
        >命令</vscode-data-grid-cell
      >
      <vscode-data-grid-cell
        align="center"
        cell-type="columnheader"
        grid-column="2"
        >解释</vscode-data-grid-cell
      >
      <vscode-data-grid-cell
        align="center"
        cell-type="columnheader"
        grid-column="3"
        >参数配置</vscode-data-grid-cell
      >
      <vscode-data-grid-cell
        cell-type="columnheader"
        grid-column="4"
        align="center"
        >执行</vscode-data-grid-cell
      >
    </vscode-data-grid-row>
    <vscode-divider></vscode-divider>
    <template v-for="item in quickCommandList">
      <vscode-data-grid-row>
        <vscode-data-grid-cell grid-column="1" class="flex jcc">
          {{item.command}}
        </vscode-data-grid-cell>
        <vscode-data-grid-cell grid-column="2" class="flex jcc">
          {{item.desc}}
        </vscode-data-grid-cell>
        <vscode-data-grid-cell grid-column="3" class="flex jcc">
          <vscode-text-field
            style="width: 100%"
            :value="item.args"
            @change="e=>handleArgs(e, item)"
          >
          </vscode-text-field>
        </vscode-data-grid-cell>
        <vscode-data-grid-cell grid-column="4" class="flex jcc">
          <vscode-button appearance="icon" @click="()=>handleOperate(item)">
            <span class="codicon codicon-debug-start"></span>
          </vscode-button>
        </vscode-data-grid-cell>
      </vscode-data-grid-row>
      <vscode-divider></vscode-divider>
    </template>
  </vscode-data-grid>
</div>
