<div id="app">
    <div style="display: flex; align-items: center;">
        <h1>密钥配置</h1>
        <span style="margin-left: 8px;">密钥信息配置</span>
    </div>

    <div style="margin-top: 16px;">
        <div style="margin-top: 8px">
            <span style="margin-right: 16px;line-height: 26px;">请选择服务商</span>
            <vscode-dropdown ref="providerDropdown" @change="getProviderPickValue()">
                <vscode-option>请选择您的云厂商</vscode-option>
                <vscode-option v-model="pickProvider" v-for="item in providerItems" :value="item.value">{{ item.label }}
                </vscode-option>
            </vscode-dropdown>
        </div>
        <div style="margin-top: 8px">
            <span style="margin-right: 16px;line-height: 26px;">密钥别名</span>
            <vscode-text-field></vscode-text-field>
        </div>

        <div v-for="key in pickProvider" style="margin-top: 8px">
            <span style="margin-right: 16px;line-height: 26px;">{{ key }}</span>
            <vscode-text-field></vscode-text-field>
        </div>


    </div>