<div class="loader" id="appLoading">Loading...</div>
<div id="app">
  <div class="nav">
    <div class="left">
      <h1 class="title">创建应用</h1>
      <span class="ml8">通过registry创建新的应用</span>
    </div>
    <div class="right">
      <vscode-text-field @input="updateKeyword(event)">
        <span slot="end" class="codicon codicon-search search" @click="search()"></span>
      </vscode-text-field>
    </div>
  </div>
  <div class="app-panel" v-if="pageStatus === 'search'">
    <vscode-panels aria-label="Default">

      <vscode-panel-tab id="tab-1">全部应用</vscode-panel-tab>
      <vscode-panel-tab id="tab-2">推荐应用</vscode-panel-tab>
      <vscode-panel-view id="view-1">
        <div class="app-area">
          <div class="app-items mr16">
            <ul>
              <li v-for="i in applicationList" class="app-card">
                <div class="head">
                  <span class="title">{{ i.package }}</span>
                  <div style="display: inline-block;">
                    <i class="codicon codicon-arrow-circle-down"></i><span
                      style="margin-left: 2px;">{{ i.download }}</span>
                  </div>
                </div>
                <div class="detail">
                  {{ i.description }}
                </div>
                <div class="app-buttons">
                  <vscode-button @click="openUrl(i.package)" appearance="secondary">查看详情</vscode-button>
                  <vscode-button @click="switchStatus('init', i.package)">立即创建</vscode-button>
                </div>
              </li>
            </ul>
          </div>
          <div class="condition-filter">
            <div class="ranking">
              <vscode-dropdown style="width: 150px;" @change="sortBySelected(event)">
                <vscode-option id="byDate">按时间排序</vscode-option>
                <vscode-option id="byDownload">按下载量排序</vscode-option>
              </vscode-dropdown>
            </div>
            <div class="category">
              <p>分类</p>
              <ul class="list">
                <li class="list-item" @click="filterAppList('category', i)" v-for="i in categoryList">
                  {{ i }}</li>
              </ul>
            </div>
          </div>
        </div>
      </vscode-panel-view>
      <vscode-panel-view id="view-2">
        暂无
      </vscode-panel-view>
    </vscode-panels>
  </div>
  <div class="init" v-else-if="pageStatus === 'init' ">
    <div class="config">
      <vscode-text-field class="config-item" @change="setConfigItem('dirName',event)"
        :value="configItems['dirName']">
        <span class="red-star">*&nbsp;</span>应用名称(目录名称)
      </vscode-text-field>
      <vscode-text-field class="config-item" :value="configItems.path" @click="setInitPath()">
        <span class="red-star">*&nbsp;</span>初始化路径
        <span slot="end" class="codicon codicon-file-submodule"></span>
      </vscode-text-field>
      <div class="config-item">
        <p style="margin: 0;"><span class="red-star">*&nbsp;</span>选择密钥</p>
        <vscode-dropdown @change="setConfigItem('access',event)">
          <vscode-option v-for="i in $config.aliasList">{{ i }}</vscode-option>
        </vscode-dropdown>
      </div>
      <div v-for="(param, name) in currentAppParams">
        <vscode-text-field class="config-item" v-if="!param.enum" @change="setConfigItem(name, event)"
          :value="param.default">
          <span class="red-star" v-if="isRequire(name)">*&nbsp;</span>{{ param.title }}
        </vscode-text-field>
        <div class=" config-item" v-else>
          <p style="margin: 0;">
            <span class="red-star" v-if="isRequire(name)">*&nbsp;</span>{{ param.title }}
          </p>
          <vscode-dropdown @change="setConfigItem(name, event)">
            <template v-for="item in param.enum">
              <vscode-option v-if="item === param.default" selected>{{ item }}</vscode-option>
              <vscode-option v-else>{{ item }}</vscode-option>
            </template>
          </vscode-dropdown>
        </div>
      </div>
    </div>
    <div class="init-buttons">
      <vscode-button @click="switchStatus('search')" appearance="secondary">上一步</vscode-button>
      <vscode-button @click="initApplication()">创建</vscode-button>
    </div>
  </div>
</div>